parameters:
	ignoreErrors:
		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: '2fa_verify.php'

		-
			message: '#^Comparison operation "\>" between 50 and 0 is always true\.$#'
			identifier: greater.alwaysTrue
			count: 1
			path: admin_articles.php

		-
			message: '#^Variable \$articlesTotal on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: admin_articles.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: admin_providers.php

		-
			message: '#^Strict comparison using \!\=\= between non\-empty\-list\<int\> and array\{\} will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: admin_providers.php

		-
			message: '#^Call to function is_array\(\) with array\<int, array\{author\: string, articles\: int\}\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: article.php

		-
			message: '#^Offset ''authors'' on array\{published_articles\: int, users_total\: int, authors\: array\<int, array\{author\: string, articles\: int\}\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: article.php

		-
			message: '#^Strict comparison using \=\=\= between mixed and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: article.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: auth.php

		-
			message: '#^Right side of && is always false\.$#'
			identifier: booleanAnd.rightAlwaysFalse
			count: 1
			path: auth.php

		-
			message: '#^Strict comparison using \=\=\= between null and null will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: auth.php

		-
			message: '#^Undefined variable\: \$pdo$#'
			identifier: variable.undefined
			count: 1
			path: auth.php

		-
			message: '#^Variable \$pdo in isset\(\) is never defined\.$#'
			identifier: isset.variable
			count: 1
			path: auth.php

		-
			message: '#^Comparison operation "\<\=" between int\<1, max\> and 0 is always false\.$#'
			identifier: smallerOrEqual.alwaysFalse
			count: 1
			path: avatar_upload.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_acidbase.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_aki.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_ca.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_cg.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_ckdpc.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_egfr.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_egfr_slope.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_kdigo_risk.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_kfre.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_ktv.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_na.php

		-
			message: '#^Variable \$form might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: calculator_patient_fields.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_prevent.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_uacr.php

		-
			message: '#^Variable \$schemaWebApp in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: calculators.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 2
			path: config_loader.php

		-
			message: '#^Strict comparison using \!\=\= between ''halanda@impax\.sk'' and '''' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: dialyza-bratislava.php

		-
			message: '#^Offset 1\|2\|3\|4\|5\|6\|7\|8\|9\|10\|11\|12 on array\{1\: ''januára'', 2\: ''februára'', 3\: ''marca'', 4\: ''apríla'', 5\: ''mája'', 6\: ''júna'', 7\: ''júla'', 8\: ''augusta'', \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: discussion.php

		-
			message: '#^Variable \$ogImageHeight on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: head_meta.php

		-
			message: '#^Variable \$ogImageWidth on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: head_meta.php

		-
			message: '#^Call to function is_array\(\) with array\<int, array\{author\: string, articles\: int\}\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: index.php

		-
			message: '#^Offset ''authors'' on array\{published_articles\: int, users_total\: int, authors\: array\<int, array\{author\: string, articles\: int\}\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: index.php

		-
			message: '#^Variable \$structuredData on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: index.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: podpora.php

		-
			message: '#^Strict comparison using \!\=\= between ''https\://donate…''\|''https\://ko\-fi\.com…''\|''https\://revolut\.me…'' and '''' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: podpora.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 6
			path: prevent_model.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: profile.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: profile.php

		-
			message: '#^Variable \$pdo might not be defined\.$#'
			identifier: variable.undefined
			count: 6
			path: profile_form_address.php

		-
			message: '#^Variable \$pdo might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: profile_form_personal.php

		-
			message: '#^Variable \$pdo in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: query_article.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: reset_password.php

		-
			message: '#^Offset 1\|2\|3\|4\|5\|6\|7\|8\|9\|10\|11\|12 on array\{1\: ''januára'', 2\: ''februára'', 3\: ''marca'', 4\: ''apríla'', 5\: ''mája'', 6\: ''júna'', 7\: ''júla'', 8\: ''augusta'', \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: search.php