parameters:
	ignoreErrors:
		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: '2fa_verify.php'

		-
			message: '#^Offset ''title'' on array\{title\: '''', slug\: '''', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: '''', content\: ''\<\!\-\- ← VYPLNIŤ\:…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_TEMPLATE_article.php

		-
			message: '#^Offset ''title'' on array\{title\: '''', slug\: '''', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: '''', content\: ''\<\!\-\- ← VYPLNIŤ\:…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_TEMPLATE_popular_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''ACC/AHA vydali prvé…'', slug\: ''acc\-aha\-ckm\-syndrom…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Americká…'', content\: ''\<p\>Americká…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_acc-aha-ckm-syndrom-prve-odporucanie_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''EDTA lock roztoky\:…'', slug\: ''edta\-lock\-roztoky…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Štúdia v časopise…'', content\: ''\<p\>Komplikácie…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_edta-lock-roztoky-priechodnost-cvk_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Nový perorálny GLP…'', slug\: ''elekoglipron…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Elekoglipron,…'', content\: ''\<p\>\<strong…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_elekoglipron-peroralny-glp1-agonista-faza-2_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Genetické…'', slug\: ''geneticke…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Nový prieskum z NKF…'', content\: ''\<p\>Genetické…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_geneticke-testovanie-obliciek-zriedkavo_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''GLP\-1 lieky a…'', slug\: ''glp1\-ischemicka…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Diskutuje sa o…'', content\: ''\<p\>Agonisty GLP\-1…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_glp1-ischemicka-opticka-neuropatia-naion_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Kazuisticky\: Ako…'', slug\: ''kazuistika…'', author\: ''MUDr\. Ľubomír…'', published_at\: ''2026\-05\-27'', is_top\: 0, excerpt\: ''Hyperkaliémia je…'', content\: ''\<p\>V praxi narážame…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_kazuistika-hyperkaliemia-ckd-hf-zachovanie-raas_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Kľúčové intervencie…'', slug\: ''klucove\-intervencie…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Podcast American…'', content\: ''\<p\>Peritoneálna…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_klucove-intervencie-peritonealna-dialyza-prevencia-infekcii_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Koľko vetrov denne…'', slug\: ''kolko\-vetrov\-denne…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Nová austrálska…'', content\: ''\<figure class\=…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_kolko-vetrov-denne-normalne_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Kontinuálne…'', slug\: ''kontinualne…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Štúdia CONNECT \(ADA…'', content\: ''\<p\>Kontinuálne…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_kontinualne-monitorovanie-glukozy-diabetes-2-typu-bez-inzulinu_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Kontrola draslíka…'', slug\: ''kontrola\-draslika…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Hyperkaliémia pri…'', content\: ''\<p\>Hyperkaliémia…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_kontrola-draslika-ckd-edukovat-nie-strasit_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Metformín s…'', slug\: ''metformin\-sglt2…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Aktualizované…'', content\: ''\<p\>Liečba diabetu 2…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_metformin-sglt2-prva-linia-diabetu_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Mierne obmedzenie…'', slug\: ''mierne\-obmedzenie…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Retrospektívna…'', content\: ''\<p\>Diétne…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_mierne-obmedzenie-bielkovin-ckd_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Moderné trendy v…'', slug\: ''moderne\-trendy\-v…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 1, excerpt\: ''Moderné lieky pri…'', content\: ''\<figure class\=…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_moderne-trendy-v-nefroprotekcii_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''mRNA vakcíny zrejme…'', slug\: ''mrna\-vakciny…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Nové experimentálne…'', content\: ''\<p\>Vedci dlhé roky…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_mrna-vakciny-funguju-sirsie_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Nové odporúčania…'', slug\: ''nove\-odporucania…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Odporúčania ACC/AHA…'', content\: ''\<p\>Nové odporúčania…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_nove-odporucania-dyslipidemia-prevent-ldl-ciele_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Nové odporúčania…'', slug\: ''nove\-odporucania…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Nové odporúčania…'', content\: ''\<p\>Liečba…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_nove-odporucania-hypertenzia-meranie-rozhodnutia_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Pečeňovo cielený…'', slug\: ''pecenovo\-cieleny…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Štúdia fázy 2b OPTI…'', content\: ''\<p\>Hypoglykémia…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_pecenovo-cieleny-inzulin-hdv-hypoglykemia-dm1_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Potravinové aditíva…'', slug\: ''potravinove\-aditiva…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Nové…'', content\: ''\<p\>Potravinové…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_potravinove-aditiva-farbiva-konzervanty-chronicke-ochorenia_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Povýšenecký tón v…'', slug\: ''povysenecky\-ton…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Zrozumiteľná…'', content\: ''\<p\>Komunikácia…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_povysenecky-ton-medicina-jednoduchy-jazyk_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Vitajte v sekcii…'', slug\: ''pre\-pacientov\-uvod'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 1, excerpt\: ''Nová sekcia, kde o…'', content\: "\<figure\>\\r\\n  \<img…"\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_pre-pacientov-uvod_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Proteinúria pri…'', slug\: ''proteinuria…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Dánska populačná…'', content\: ''\<p\>Preeklampsia sa…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_proteinuria-preeklampsia-hypertenzia-ckd-riziko_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Renálna denervácia…'', slug\: ''renalna\-denervacia…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Renálna denervácia…'', content\: ''\<p\>Rezistentná…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_renalna-denervacia-rezistentna-hypertenzia_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Retatrutid prináša…'', slug\: ''retatrutid\-ubytok…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Trojitý agonista…'', content\: ''\<p\>Experimentálny…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_retatrutid-ubytok-hmotnosti-metabolicke-benefity_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Nízka dávka…'', slug\: ''rivaroxaban…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Štúdia TRACK…'', content\: ''\<p\>Pacienti s…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_rivaroxaban-pokrocile-ckd-track-bez-kv-benefitu_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Tirzepatid nezvýšil…'', slug\: ''tirzepatid…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Retina substúdia…'', content\: ''\<p\>Tirzepatid,…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_tirzepatid-diabeticka-retinopatia-surpass-cvot_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Včasné podanie TNF…'', slug\: ''tnf\-inhibitor…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Štúdia fázy 3…'', content\: ''\<p\>Pri včasnej…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_tnf-inhibitor-vcasna-periferna-spondyloartritida-spartacus_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Uviaznutí na…'', slug\: ''uviaznuti\-na…'', author\: ''MUDr\. Ľubomír…'', published_at\: ''2026\-05\-27'', is_top\: 0, excerpt\: ''Antihistaminiká pri…'', content\: ''\<p\>Chronické…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_uviaznuti-na-antihistaminikach-pri-ckd-ap_article.php

		-
			message: '#^Offset ''title'' on array\{title\: ''Wearables pri…'', slug\: ''wearables\-chronicke…'', author\: ''MUDr\. Ľubomír…'', published_at\: non\-falsy\-string, is_top\: 0, excerpt\: ''Nositeľné…'', content\: ''\<p\>Nositeľné…''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: add_wearables-chronicke-ochorenia-protokoly-klinicky-zmysel_article.php

		-
			message: '#^Comparison operation "\>" between 50 and 0 is always true\.$#'
			identifier: greater.alwaysTrue
			count: 1
			path: admin_articles.php

		-
			message: '#^Variable \$articlesTotal on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: admin_articles.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: admin_providers.php

		-
			message: '#^Strict comparison using \!\=\= between non\-empty\-list\<int\> and array\{\} will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: admin_providers.php

		-
			message: '#^Call to function is_array\(\) with array\<int, array\{author\: string, articles\: int\}\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: article.php

		-
			message: '#^Offset ''authors'' on array\{published_articles\: int, users_total\: int, authors\: array\<int, array\{author\: string, articles\: int\}\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: article.php

		-
			message: '#^Strict comparison using \=\=\= between mixed and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: article.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: auth.php

		-
			message: '#^Right side of && is always false\.$#'
			identifier: booleanAnd.rightAlwaysFalse
			count: 1
			path: auth.php

		-
			message: '#^Strict comparison using \=\=\= between null and null will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: auth.php

		-
			message: '#^Undefined variable\: \$pdo$#'
			identifier: variable.undefined
			count: 1
			path: auth.php

		-
			message: '#^Variable \$pdo in isset\(\) is never defined\.$#'
			identifier: isset.variable
			count: 1
			path: auth.php

		-
			message: '#^Comparison operation "\<\=" between int\<1, max\> and 0 is always false\.$#'
			identifier: smallerOrEqual.alwaysFalse
			count: 1
			path: avatar_upload.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_acidbase.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_aki.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_ca.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_cg.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_ckdpc.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_egfr.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_egfr_slope.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_kdigo_risk.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_kfre.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_ktv.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_na.php

		-
			message: '#^Variable \$form might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: calculator_patient_fields.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_prevent.php

		-
			message: '#^Variable \$baseUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: calculator_uacr.php

		-
			message: '#^Variable \$schemaWebApp in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: calculators.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 2
			path: config_loader.php

		-
			message: '#^Strict comparison using \!\=\= between ''halanda@impax\.sk'' and '''' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: dialyza-bratislava.php

		-
			message: '#^Offset 1\|2\|3\|4\|5\|6\|7\|8\|9\|10\|11\|12 on array\{1\: ''januára'', 2\: ''februára'', 3\: ''marca'', 4\: ''apríla'', 5\: ''mája'', 6\: ''júna'', 7\: ''júla'', 8\: ''augusta'', \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: discussion.php

		-
			message: '#^Variable \$ogImageHeight on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: head_meta.php

		-
			message: '#^Variable \$ogImageWidth on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: head_meta.php

		-
			message: '#^Call to function is_array\(\) with array\<int, array\{author\: string, articles\: int\}\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: index.php

		-
			message: '#^Offset ''authors'' on array\{published_articles\: int, users_total\: int, authors\: array\<int, array\{author\: string, articles\: int\}\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: index.php

		-
			message: '#^Variable \$structuredData on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: index.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: podpora.php

		-
			message: '#^Strict comparison using \!\=\= between ''https\://donate…''\|''https\://ko\-fi\.com…''\|''https\://revolut\.me…'' and '''' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: podpora.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 6
			path: prevent_model.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: profile.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: profile.php

		-
			message: '#^Variable \$pdo might not be defined\.$#'
			identifier: variable.undefined
			count: 6
			path: profile_form_address.php

		-
			message: '#^Variable \$pdo might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: profile_form_personal.php

		-
			message: '#^Variable \$pdo in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: query_article.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: reset_password.php

		-
			message: '#^Offset 1\|2\|3\|4\|5\|6\|7\|8\|9\|10\|11\|12 on array\{1\: ''januára'', 2\: ''februára'', 3\: ''marca'', 4\: ''apríla'', 5\: ''mája'', 6\: ''júna'', 7\: ''júla'', 8\: ''augusta'', \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: search.php
